#sidebar{
  border-top-right-radius: 58px;
  height: 100vh;
  ul{
    padding-left: 0;
    li{
      padding: 10px 20px 10px 30px;
position: relative;
      a{
        text-decoration: none;

        i{
          margin-right: 10px;
          width: 1.4375rem;
          color: white;

        }
        span{
          color: #ffffff81;
          font-weight: 500;
          font-size: small;


        }
      }

    }
    li:hover::after{
      position: absolute;
      content: '';
      height: 100%;
      width: 16px;
      left: 0;
      top: 0;
      background-color: #4AA35A;
    }
    li:hover{
      background-color: rgba($color: #4AA35A, $alpha: .1);
    }
  }
  img{
    cursor: pointer;
  }
  img:hover{
    transform: scale(.9);
    background-color: rgba($color: #4AA35A, $alpha: .1);
    border-radius: 50%;
  }
}
.opened > div{
  transition: all .3s ease-in-out;
}
.sticky{
    position: sticky;
  top: 0;
  z-index: 1071;
}
