<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <!-- <app-sidebar></app-sidebar> -->
        <section id="sidebar" class="bg-dark-color">
          <div class="container-fluid">
            <div class="row">
              <div class="text-center mt-3">
                <img src="../../../assets/logo-icon.png" alt="" class="img-fluid" />
              </div>
              <div >
                <ul>
                  <ng-container  *ngFor="let item of menu">
                    <li
                   *ngIf="item.isActive"
                    [routerLink]="item.link"
                    >
                     <a><i [class]="'fa-solid' +' '+item.icon"></i>
                       <span routerLinkActive="text-white"
                       >{{item.title}}</span></a>
                   </li>
                  </ng-container>


                  <li>
                    <a
                      ><i class="fa-solid fa-unlock-keyhole"></i
                      ><span routerLinkActive="text-white" >Change Password</span></a
                    >
                  </li>
                  <li>
                    <a
                      ><i class="fa-solid fa-right-from-bracket"></i
                      ><span  routerLinkActive="text-white">Log out</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="col-10">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</section>
