<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-auth">
          <div class="text-center">
            <img
              src="../../../assets/logo-lanscape.png"
              alt="logo"
              class="w-75"
            />
          </div>
          <h2>Reset  Password</h2>
          <p>Please Enter Your Otp  or Check Your Inbox</p>

          <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text h-100" id="basic-addon1">
                  <i class="fa-solid fa-mobile-screen"></i>
                </span>
              </div>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Enter Your Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
              />
            </div>
            <span class="text-danger mb-3" *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)">
              <span *ngIf="resetForm.get('email')?.hasError('required')">Email is required</span>
              <span *ngIf="resetForm.get('email')?.hasError('pattern')">Invalid email format</span>
            </span>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text h-100" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
              </div>
              <input
                formControlName="seed"
                type="text"
                class="form-control"
                placeholder="OTP"
                aria-label="seed"
                aria-describedby="basic-addon1"
              />

            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text h-100" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
              </div>
              <input
                formControlName="password"
                type="text"
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
              <span class="eye-icon" (click)="hide = !hide"><i class="fa-solid" [class]="hide ?'fa-eye-slash':'fa-eye'"></i></span>
            </div>
            <span class="text-danger mb-3" *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
              <span *ngIf="resetForm.get('password')?.hasError('required')">password is required</span>
              <!-- <span *ngIf="resetForm.get('password')?.errors?.['pattern']">password must have capital and small charachters and numbers</span> -->
            </span>
            <div class="input-group mb-3  position-relative">
              <div class="input-group-prepend">
                <span class="input-group-text h-100" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
              </div>
              <input
                formControlName="confirmPassword"
                [type]="hideConfirm ? 'password' : 'text'"
                type="text"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
              <span class="eye-icon" (click)="hideConfirm = !hideConfirm"><i class="fa-solid" [class]="hideConfirm ?'fa-eye-slash':'fa-eye'"></i></span>
            </div>
            <span class="text-danger mb-3" *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
              <span *ngIf="resetForm.get('confirmPassword')?.hasError('required')">password is required</span>
              <!-- <span *ngIf="loginForm.get('confirmPassword')?.hasError('pattern')">password must have capital and small charachters and numbers</span> -->
             <span *ngIf="resetForm.get('confirmPassword')?.errors?.['invalid']">password and confirm password not match</span>
            </span>
            <button [disabled]="resetForm.invalid" type="submit" class="primary my-2 w-100">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
