
#cards-profile {
  .card-profile{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));

    .item{
      border-radius: 0.9375rem;
      background: #FFF;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 20px 10px;
      transition: all .2s ease-in;
      padding: 0;
      .description{
        margin-left: 10px;
        cursor: pointer;
      }
      .header-profile {
        background-image: url(../../../../assets/headerhome.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 15px;
        color: #fff;
        background-color: #009247;
        height: 100px;
        position: relative;
        img {
          border-radius: 50%;
          border: 10px solid white;
          position: absolute;
          width: 100px;
          height: 100px;
          position: absolute;
          right: 10%;
          transform: translateY(50%);
        }
        a{
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          border: 2px solid #1F263E ;
          border-radius: 5px;
          padding: 5px;
          transition: all .3s ease;
          i{
            color: red;
          }
        }
        a:hover{
          background-color: #1F263E;
          border: none;
        }

      }
  }
}

.item:hover{
  transform: scale(1.05);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

}
