<section id="sidebar" class="bg-dark-color">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center mt-3">
        <img src="../../../assets/logo-icon.png" alt="" class="img-fluid" />
      </div>
      <div >
        <ul>
          <li>
            <a href=""><i class="fa-solid fa-house"></i> <span>Home</span></a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-users"></i> <span class="text-secondary">Users</span></a>
          </li>
          <li>
            <a href=""
              ><i class="fa-solid fa-bowl-rice"></i> <span class="text-secondary">Recipes</span></a
            >
          </li>
          <li  >
            <a href="" class="d-flex "
              ><i class="fa-solid fa-calendar-days "></i
              ><span class="text-secondary">Categories</span></a
            >
          </li>
          <li>
            <a href="" class="d-block"
              ><i class="fa-solid fa-unlock-keyhole"></i
              ><span class="text-secondary">Change Password</span></a
            >
          </li>
          <li>
            <a href=""
              ><i class="fa-solid fa-right-from-bracket"></i
              ><span class="text-secondary">Log out</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
