<div id="sidebar" class="bg-dark-color mr-2 sticky">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center mt-3 " (click)="isOpened=!isOpened">
        <img src="../../../assets/logo-icon.png" alt="" class="img-fluid" />
      </div>
      <div >
        <ul>
          <ng-container  *ngFor="let item of menu">
            <li
           *ngIf="item.isActive"
            [routerLink]="item.link"
            [class]="isOpened?'':'d-flex justify-content-center'"
            >
             <a><i [class]="'fa-solid' +' '+item.icon"></i>
               <span routerLinkActive="text-white" [class]="isOpened?'':'d-none'"
               >{{item.title}}</span></a>
           </li>
          </ng-container>


          <li [class]="isOpened?'':'d-flex justify-content-center'">
            <a mat-button (click)="openDialogCahngePassword()"
              ><i class="fa-solid fa-unlock-keyhole"></i
              ><span routerLinkActive="text-white" [class]="isOpened?'':'d-none'" >Change Password</span></a
            >
          </li>
          <li [class]="isOpened?'':'d-flex justify-content-center'">
            <a mat-button (click)="openDialogLogOut()"
              ><i class="fa-solid fa-right-from-bracket"></i
              ><span  routerLinkActive="text-white" [class]="isOpened?'':'d-none'">Log out</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
