<section class="card-auth">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <div>
      <h2>Details {{ data.name }}</h2>
    </div>
    <a (click)="onNoClick()"
      ><i class="fa-regular fa-circle-xmark text-danger fa-2x"></i
    ></a>
  </div>
  <div class="recipe-img text-center" *ngIf="data.imagePath">
    <img
      [src]="pathHttps + data.imagePath"
      class="img-fluid rounded-lg border-success"
      alt=""
    />
  </div>
  <div class="recipe-img text-center"  *ngIf="!data.imagePath">
    <h2>Not Have Image</h2>
  </div>
<div class="py-5 description">
  <h4> {{data.description}}</h4>

</div>
<div class="text-end">
  <button
  [mat-dialog-close]="data.id"
  type="submit"
  class="outline-danger my-2"
  >
  Favourite  <i class="fa-regular fa-heart text-danger"></i>
  </button>

</div>
</section>
