<div class="card-auth">
  <h2>Request Reset  Password</h2>
  <p>Please Enter Your Email And Check Your Inbox</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text h-100" id="basic-addon1">
          <i class="fa-regular fa-envelope"></i>
        </span>
      </div>
      <input
        [(ngModel)]="email"
        type="text"
        class="form-control"
        placeholder="Enter Your Email"
        aria-label="Email"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="text-end">
      <a (click)="onNoClick()" routerLink="/auth/reset-password" class="text-main">Have Code?</a>
    </div>
    <button [mat-dialog-close]="email" type="submit" class="primary my-2 w-100">Send</button>
</div>
