
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FoodApp-primary: mat.define-palette(mat.$indigo-palette);
$FoodApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FoodApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FoodApp-theme: mat.define-light-theme((
  color: (
    primary: $FoodApp-primary,
    accent: $FoodApp-accent,
    warn: $FoodApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FoodApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

// -------Color pallette

.text-main{
  color: #4AA35A;
}

.text-secondry{
  color: #494949;
}

.bg-main{
  background-color: #4AA35A;
}

.bg-secondry{
  background-color: #494949;
}
.bg-dark-color{
  background-color: #1F263E;
}

//--------components

.card-auth{
 background-color: #fff;
 border-radius: 16px;
 padding: 1.5rem 3rem;
//  box-shadow: -5px 36px 109px -17px rgba(0,0,0,0.75);
 h2{
  color: #494949;
  margin-top: 1.5rem;
 }
 p{
  color: rgba(73, 73, 73, 0.60);
 }
 input,textarea{
  background-color: #f7f7f7 !important;
 }
 input::placeholder,
 textarea::placeholder{
  color: #8391A1
 }
 i{
  color: #8391A1
 }
 .eye-icon{
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 100;
}
span{
  color: #8391A1;
}
}
#page-header {
  background-image: url(assets/headerhome.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  background-color: #009247;
  color: #fff;

  p {
    max-width: 30.25rem;
  }
  span {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
  }
}
#header-table {
  h4 {
    color: #1f263e;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  p{
    color: #323C47;
font-size: 0.875rem;
font-weight: 400;
  }
}
.content-table {
  background-color: #E2E5EB;
  border-radius: 16px;
  p{
    padding: 16px 20px;
    margin-bottom: 0;
  }
}

//--utilites

button {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;

  &.primary {
    background-color: #4AA35A;
    color: #fff;
    &:hover{
      opacity: 0.8;
    }
  }
  &.outline-primary {
    border: 1px solid #4AA35A;
    color: #4AA35A;
    &:hover{
      opacity: 0.8;
    }
  }
  &.outline-danger {
    border: 1px solid red;
    color: red;
    &:hover{
      opacity: 0.8;
    }
  }
}
a{
  cursor: pointer;
}
table th{
  font-weight: 100;
  font-size: small;
}
