<section id="page-header" class="my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-9 d-flex align-items-center">
        <div class="px-5">
          <h2>Categories <span> !</span></h2>
          <p>
            You can now add your items that any user can order it from the
            Application and you can edit
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <img
            src="../../../../assets/menu-avatar.svg"
            class="w-75 mb-0"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- start header table -->
<section id="header-table" class="my-3">
  <div class="container-fluid">
    <div class="d-flex gap-5 justify-content-between align-items-center">
      <div class="flex-grow-1">
        <input
          [(ngModel)]="searchValue"
          (keyup.enter)="getTableData()"
          type="text"
          class="form-control rounded "
          placeholder="search by name "
          aria-label="search"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="">
        <button type="submit" class="primary" (click)="openAddDialog()">Add New Category</button>
      </div>
    </div>
  </div>
</section>

<!-- start table -->
<section id="table" class="my-4">
  <div class="container-fluid">
    <div class="d-flex justify-content-between content-table">
      <p>Name</p>
      <p>Actions</p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Creation Date</th>
          <th scope="col">Modification Date</th>
        </tr>
      </thead>
      <tbody *ngIf="tableData.length > 0">
        <tr *ngFor="let item of tableData">
          <td>{{ item.name }}</td>
          <td>{{ item.creationDate | date : "dd-MM-yyyy , hh:mm a" }}</td>
          <td>{{ item.modificationDate | date : "dd-MM-yyyy , hh:mm a" }}</td>
          <td>
            <div class="dropdown text-center">
              <a class="dropdown-toggle text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis fa-lg  text-main"></i>
              </a>
              <ul class="dropdown-menu ">
                <li><a (click)="openEditDialog(item)"  class="dropdown-item ">
                  <span><i class="fa-regular fa-pen-to-square text-main"></i></span>
                  <span class="p-2">Edit</span>
                </a></li>
                <li><a class="dropdown-item " (click)="openDeleteDialog(item)">
                  <span><i class="fa-solid fa-trash-can text-danger"></i></span>
                  <span class="p-2">Delete</span>
                </a></li>
              </ul>
            </div>
        </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="tableData.length == 0">
      <div class="col-md-6 mx-auto">
        <app-no-data></app-no-data>
      </div>
    </div>
    <div>
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="tableResponse?.totalNumberOfRecords"
        [pageSize]="tableResponse?.pageSize"
        [pageSizeOptions]="[5, 10, 25]"
        [pageIndex]="tableResponse?.pageNumber"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</section>
