#navbar {
  padding: 1rem 0rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  .user-avatar {
    width: 50px;
    border-radius: 50%;
  }
  img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
span {
  color: #1f384c;
}

.sticky-nav {
  position: sticky;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.light-bg-nav{
  background-color: #f8f9fb;
}
.dark-bg-nav {
  background-color: #1F263E; /* Change to your desired dark color */
  color: #f8f9fb;
}
.text-light-nav{
  color: #f8f9fb;
}
.text-dark-nav{
  color: black;
}
