<div class="card-auth">
  <div class="text-center">
    <img
      src="../../../assets/logo-lanscape.png"
      alt="logo"
      class="w-75"
    />
  </div>
  <h2>Change Your Password</h2>
  <p>Enter your details below</p>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text h-100" id="basic-addon1">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
      <input
        formControlName="oldPassword"
        type="text"
        [type]="hide ? 'password' : 'text'"
        class="form-control"
        placeholder="oldPassword"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
      <span class="eye-icon" (click)="hide = !hide"><i class="fa-solid" [class]="hide ?'fa-eye-slash':'fa-eye'"></i></span>
    </div>
    <span class="text-danger mb-3" *ngIf="changePasswordForm.get('oldPassword')?.invalid && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('password')?.touched)">
      <span *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">password is required</span>
      <!-- <span *ngIf="changePasswordForm.get('password')?.errors?.['pattern']">password must have capital and small charachters and numbers</span> -->
    </span>
    <div class="input-group mb-3  position-relative">
      <div class="input-group-prepend">
        <span class="input-group-text h-100" id="basic-addon1">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
      <input
        formControlName="newPassword"
        [type]="hideConfirm ? 'password' : 'text'"
        type="text"
        class="form-control"
        placeholder="newPassword"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
      <span class="eye-icon" (click)="hideConfirm = !hideConfirm"><i class="fa-solid" [class]="hideConfirm ?'fa-eye-slash':'fa-eye'"></i></span>
    </div>
    <span class="text-danger mb-3" *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
      <span *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">password is required</span>
      <!-- <span *ngIf="loginForm.get('confirmPassword')?.hasError('pattern')">password must have capital and small charachters and numbers</span> -->
     <span *ngIf="changePasswordForm.get('newPassword')?.errors?.['invalid']">password and confirm password not match</span>
    </span>
    <div class="input-group mb-3  position-relative">
      <div class="input-group-prepend">
        <span class="input-group-text h-100" id="basic-addon1">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
      <input
        formControlName="confirmNewPassword"
        [type]="hideConfirm ? 'password' : 'text'"
        type="text"
        class="form-control"
        placeholder="confirmNewPassword"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
      <span class="eye-icon" (click)="hideConfirm = !hideConfirm"><i class="fa-solid" [class]="hideConfirm ?'fa-eye-slash':'fa-eye'"></i></span>
    </div>
    <span class="text-danger mb-3" *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid && (changePasswordForm.get('confirmNewPassword')?.dirty || changePasswordForm.get('confirmNewPassword')?.touched)">
      <span *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">password is required</span>
      <!-- <span *ngIf="loginForm.get('confirmPassword')?.hasError('pattern')">password must have capital and small charachters and numbers</span> -->
     <span *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['invalid']">password and confirm password not match</span>
    </span>
    <button type="submit" class="primary my-2 w-100">Change Password</button>
    </form>
</div>
