<section id="recipes-header" class="my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-9 d-flex align-items-center">
        <div class="px-5">
          <h2 *ngIf="isViewPage">View <span class="text-main">the Recipe !</span></h2>
          <h2 *ngIf="isUpdatedPage">Edit <span class="text-main">the Recipe !</span></h2>
          <h2 *ngIf="!isUpdatedPage && !isViewPage">Fill <span class="text-main">the Recipe !</span></h2>
          <p>
            you can now fill the meals easily using the table and form , click
            here and sill it with the table !
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <div>
          <button
            type="submit"
            class="primary"
            [routerLink]="['/dashboard/admin/recipes']"
          >
            All Recipes <i class="fa-solid fa-arrow-right pl-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- start Form Data -->
<section class="card-auth">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm)">
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text h-100" id="basic-addon1">
              <i class="fa-solid fa-pen"></i>
            </span>
          </div>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Enter Recipe Name"
            aria-label="Name"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text h-100" id="basic-addon1">
              <i class="fa-solid fa-money-check-dollar"></i>
            </span>
          </div>
          <input
            formControlName="price"
            type="text"
            class="form-control"
            placeholder="Enter Price"
            aria-label="price"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text h-100 text-greyLight"
              id="basic-addon1"
            >
              Tags:
            </span>
          </div>
          <select
            formControlName="tagId"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>All</option>
            <option *ngFor="let item of tags" [ngValue]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text h-100 text-greyLight"
              id="basic-addon1"
            >
              Categories:
            </span>
          </div>
          <select
            formControlName="categoriesIds"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>All</option>
            <option *ngFor="let item of categories" [ngValue]="item.id">
              {{ item.name }}
            </option>
            <!-- [ngvalue] ==> value goes to api as number not string -->
          </select>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend"></div>
        <textarea
          formControlName="description"
          class="form-control"
          id="exampleFormControlTextarea1"
          placeholder="Enter Description*"
          rows="3"
        ></textarea>
      </div>
      <div>
        <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [disabled]="!isUpdatedPage">
          <ngx-dropzone-label *ngIf="!imgSrc">
            <i class="fa-solid fa-upload fa-3x mb-3"></i>
            <div>
              Drag & Drop or
              <span class="text-main"> Choose a Item Image to Upload </span>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-label *ngIf="imgSrc" >
            <img [src]="imgSrc" alt="" class="w-25" />
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            [removable]="true"
            (removed)="onRemove(f)"
            *ngFor="let f of files"
            [file]="f"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div class="d-flex justify-content-end gap-2 my-4">
        <button type="submit" class="primary px-4">Save</button>
        <button
          type="button"
          class="outline-primary"
          [routerLink]="['/dashboard/admin/recipes']"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</section>
