#not-found{
  background-image: url('../../../assets/pattern-notFound.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
.sec-2{
  margin-top: 100px;

}

}
