<section id="not-found">
  <div class="container">
    <div class="p-5"><img src="../../../assets/logo-lanscape.png" alt=""></div>
    <div class="sec-2 d-flex justify-content-between align-items-center">
      <div class="content p-5">
        <h1>Oops.... </h1>
        <h4 class="text-main">Page  not found </h4>
        <p>This Page doesn’t exist or was removed!
          We suggest you  back to home.</p>
          <button
        type="submit"
        class="primary  m-2 w-50"
        routerLink="/dashboard/home"
      >
      <i class="fa-solid fa-arrow-left pl-2"></i> Back to Home
      </button>
      </div>
      <div class="img-position-not-found"><img src="../../../assets/notfoundreboot.svg" alt=""></div>
    </div>
  </div>
</section>
